<DOCTYPE html>
<html lang="en">
    <body>
	table {border: 1px solid silver;}
	td:hover {background-color: yellow; color: black;}
	tr, th {background-color: black; color: cornsilk;}
	tr, td {background-color: darkgreen; color: white;}
<link rel="stylesheet" type="text/css" href="HTML_Table.html">
	</body>
</html>